
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="jumbotron">
        <h2>Sales Reps</h2>
        <button class="btn btn-default"><a href="@Url.Action("CancelOrders","Agent")">Cancel Orders</a></button>

    </div>
</div>

