
@{
    ViewBag.Title = "ThankYou";
}
<div class="container">
    <div class="jumbotron">
     <h2>Thank You!</h2>
        <p>Thank you for your order. You can check the status of your order from the customer portal!</p>
     
     </div>
</div>


