@{
    ViewBag.Title = "Home Page";
}
<style>
    .shrink
    {

    }
</style>
<div class="jumbotron">
    <h1></h1>
    <p class="lead">Welcome to Northwest Labs, the premier Pharmaceutical testing laboratory!</p>
    <img class="shrink" src="https://www.rd.com/wp-content/uploads/2016/06/04-keep-your-doctor-nice.jpg" width="600" height="400" />

<div class="row">
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>
            Northwest is one of the fastest-growing third-party pharmaceutical assay companies! Request a quote to find out why!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Quote","Home")">Request a Quote &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>International</h2>
        <p>With locations in multiple countries, NorthWest Labs can meet your needs in this increasingly global market!</p>
    </div>
    <div class="col-md-4">
        <h2>Technological</h2>
        <p>Our cutting-edge communication technology allows us to offer the best services at the lowest prices every time.</p>
    </div>
</div>