
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="jumbotron">
        <h2>Seattle Pharmacology</h2>
        <img src="https://static.seattletimes.com/wp-content/uploads/2017/11/11aad8ac-cb00-11e7-8547-fc55c536bde7-1020x544.jpg" />
        <h2>Please select an option!</h2>
        <button class="bg-primary"><a href="@Url.Action("CurrentOrders","Seattle")">Current Orders</a></button>
        <button class="bg-primary"><a href="@Url.Action("","Seattle")">Current Orders</a></button>


    </div>
</div>
